* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Navbar */

.custom-navbar {}


/* Hero Container */

.hero-container {
    background-image: url(../images/hero-cover.jpg);
    height: 450px;
    width: auto;
    background-size: cover;
    background-position: center;
}

.motto {
    font-size: 56px;
    line-height: 64px;
    font-weight: 600;
}

.input-field {
    border: none;
}

.input-field:focus {
    outline: none;
}


/* Hero Features */

.hero-features-container {
    margin-top: -3.5rem;
}

.features-title,
.feature-description {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.features-title {
    text-align: center;
}


/* Why Choose US */

.why-us-container {
    background-color: #fafbfc;
}

.line {
    width: 30px;
    height: 1px;
    background-color: #979797;
}


/* Background Color Container */

.counts-container {
    background-color: #f4f5f8;
}


/* How it works */

.features-list {
    border-left: 3px solid #f7f8fa;
}

.round-div {
    background-image: linear-gradient(135deg, #23a999 1%, #00a1ba 52%, #006597);
    height: 50px;
    width: 50px;
    left: -25px;
    top: 0;
}

.feature-number {
    left: -5px;
    top: 11px;
}


/* Smaller Screen */

@media (max-width: 405px) {
    .hero-features-container {
        margin-top: -1rem;
    }
}